/.metadata/
/WebBasedSolution_GIT/dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext
/WebBasedSolution_GIT/dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ide
/WebBasedSolution_GIT/dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.parent
/WebBasedSolution_GIT/dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.tests
/WebBasedSolution_GIT/dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ui
/WebBasedSolution_GIT/dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ui.tests
